<div class = 'container form content col-md-4 adminMain'>
  <h2>Ну, здраствуй,  {{this.name}}</h2>
  <h3>Ты можешь:</h3>
    <a href="/admin/adminAddTea">добавить статью</a>
    <a href="/article/allArticles">Посмотреть список статей</a>
</div>  





